<!-- <mat-sidenav-container class="tp-container">
  <mat-sidenav mode="side" opened>
    <section class="tp-section">
      <span>File</span>

    </section>
    <section class="tp-section">
      <span>Edit</span>
    </section>
    <section class="tp-section">
      <span>Edit</span>
    </section>
    <section class="tp-section">
      <span>Edit</span>
    </section>
    <section class="tp-section">
      <span>Edit</span>
    </section>
  </mat-sidenav>
  <mat-sidenav-content>
    <create-post></create-post>
    <post-list></post-list>
  </mat-sidenav-content>

  
</mat-sidenav-container>> -->
