<!-- 
  <form [formGroup]="formGroup">
    <div class="container">
      <div   fxLayoutAlign="center,center" fxLayoutGap="5px" fxLayout="row">
        <mat-card fxFlex="1,1,1" class="child-1"><textarea matInput placeholder="Start typing your problem or issue or suggestion."></textarea></mat-card> 
        <mat-card fxFlex class="child-2"><button mat-button routerLink="/register">
         
          Sign Up
          </button></mat-card> 
        
      </div>
    </div>
      
    <mat-form-field class="example-full-width">
      
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>
  </form>
 -->
